# List of known IPs for Snowflake client
allowed_ips = ["192.168.1.0/24"]

# List of blocked IPs for Snowflake client
blocked_ips = ["192.168.1.99"]

# The maximum number of days users may retain the same password for use.
password_rotation_age = 90
